.square {
  width: 100%;
  height: 0;
  padding-top: 100%;
  position: relative;
}

.square-item {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.square-image-item {
  position: absolute;
  top: 0;
}

.episode-list h2 {
  font-size: 1.25em;
}

.platform-list .list-group-item {
  background-color: transparent;
}

@supports(-webkit-line-clamp: 42) {
  .text-truncate-2,
  .text-truncate-3,
  .text-truncate-4,
  .text-truncate-5 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  .text-truncate.text-truncate-2,
  .text-truncate.text-truncate-3,
  .text-truncate.text-truncate-4,
  .text-truncate.text-truncate-5 {
    white-space: normal;
  }

  .text-truncate-2 {
    -webkit-line-clamp: 2;
  }
  .text-truncate-3 {
    -webkit-line-clamp: 3;
  }
  .text-truncate-4 {
    -webkit-line-clamp: 4;
  }
  .text-truncate-5 {
    -webkit-line-clamp: 5;
  }
}
