<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta
      name="viewport"
      content="width=device-width,initial-scale=1,shrink-to-fit=no,user-scalable=no,viewport-fit=cover"
    />
    <link rel="preconnect" href="https://cdn.jsdelivr.net/">
    <link rel="preconnect" href="https://i.typlog.com/">
    <link rel="preconnect" href="https://images.unsplash.com/">
    <link rel="preconnect" href="https://cdn.pixabay.com/">
    <meta name="typlog" content="avocadotoast"><link rel="icon" type="image/x-icon" href="https://i.typlog.com/avocadotoast/8414809236_308727.ico"><link rel="apple-touch-icon" href="https://i.typlog.com/avocadotoast/8415920408_339945.png"><meta name="design:color" content="1,179,78">
    <meta name="design:type" content="dark">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@typlog/ui@1.9.5/typlog.css"><script>SITE = {"feed": "https://avocadotoast.typlog.io/feed.xml", "id": 1088, "socials": [{"href": "https://t.me/avocadotoastlisteners", "icon": "send", "key": "telegram", "name": "Telegram"}, {"href": "https://twitter.com/avocado___toast", "icon": "twitter", "key": "twitter", "name": "Twitter"}, {"href": "http://www.weibo.com/7378184659", "icon": "weibo", "key": "weibo", "name": "\u5fae\u535a"}], "subscribers": null, "summary": "\u79d1\u6280\u53d1\u5c55\u8d8b\u52bf\uff0c\u5404\u884c\u4e1a\u6765\u9f99\u53bb\u8109\uff0c\u6211\u4eec\u5750\u6807\u7845\u8c37\uff0c\u9080\u8bf7\u7b2c\u4e00\u7ebf\u7684\u8d44\u6df1\u4e13\u5bb6\u5206\u4eab\u7ed9\u5927\u5bb6\u542c\uff01", "title": "\u725b\u6cb9\u679c\u70e4\u9762\u5305", "url": "https://avocadotoast.typlog.io"};
    </script>
    <link rel="preload" href="https://cdn.jsdelivr.net/npm/@typlog/ui@1.9.5/typlog.js" as="script"> <title>收听指南 - 牛油果烤面包</title>
    <meta property="og:site_name" content="牛油果烤面包">
    <meta property="og:title" content="收听指南">
    <meta property="og:description" content="【推荐】在各大泛用性播客平台中都可以订阅和收听： Apple Podcast： https://podcasts.apple.com/podcast/id1479918340 Pocket Cast：...">
    <meta name="twitter:image" content="https://i.typlog.com/avocadotoast/8415945552_483905.jpg?x-oss-process=style/ss">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@avocado___toast">
    <link rel="canonical" href="https://avocadotoast.typlog.io/guide">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Droid+Serif:400,700&display=swap">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@typlog/ui@1.9.5/bailu.css">
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-161595329-1', {
        custom_map: {
          'dimension1': 'episode',
          'dimension2': 'platform',
          'dimension3': 'variation'
        },
        variation: '{{ environment.BRANCH || environment.NODE_ENV }}',
        episode: 'error'
      });
    </script>
    {% include image_error_script %}
  </head>
  <body>
  <div class="head">
    <div class="inner">
      <a class="head_logo" href="/">牛油果烤面包</a>
      <button class="head_toggle" aria-label="Menu"><i class="icon icon-menu"></i></button>
      <nav class="head_nav">
        <a href="https://avocadotoast.typlog.io/guide">收听指南</a>
        <a href="https://avocadotoast.typlog.io/guest">如何成为嘉宾？</a>
      </nav>
    </div>
  </div>
  <script>
    (function () {
      document.querySelector('.head_toggle').addEventListener('click', function () {
        var d = document.body;
        if (d.classList.contains('expand')) {
          d.classList.remove('expand')
        } else {
          d.classList.add('expand')
        }
      })
    })();
  </script>
  <div class="page yue">
    <h1>收听指南</h1>
    <div class="page_content"><h2 id="toc_1" class="md-block">【推荐】在各大泛用性播客平台中都可以订阅和收听：</h2>
      <div class="md-block list"><ul>
          <li>Apple Podcast： <a href="https://podcasts.apple.com/podcast/id1479918340">https://podcasts.apple.com/podcast/id1479918340</a></li>
          <li>Pocket Cast： <a href="https://pca.st/xvtd6yu4">https://pca.st/xvtd6yu4</a></li>
          <li>Castro： <a href="https://castro.fm/itunes/1479918340">https://castro.fm/itunes/1479918340</a></li>
          <li>Overcast： <a href="https://overcast.fm/itunes1479918340/avocado-toast">https://overcast.fm/itunes1479918340/avocado-toast</a></li>
          <li>Google Podcast： <a href="https://www.google.com/podcasts%E2%80%A6">https://www.google.com/podcasts%E2%80%A6</a></li>
          <li>Breaker： <a href="https://www.breaker.audio/niu-you-guo-kao-mian-bao-avocado-%E2%80%A6">https://www.breaker.audio/niu-you-guo-kao-mian-bao-avocado-%E2%80%A6</a></li>
          <li>CastBox： <a href="https://castbox.fm/channel/id2366086">https://castbox.fm/channel/id2366086</a></li>
          <li>Stitcher： <a href="https://www.stitcher.com/podcast/avocado-toast">https://www.stitcher.com/podcast/avocado-toast</a></li>
          <li>RadioPublic： <a href="https://radiopublic.com/https%3A%2F%2Fanchor.fm%2Fs%2Fe3e1f%E2%80%A6">https://radiopublic.com/https%3A%2F%2Fanchor.fm%2Fs%2Fe3e1f%E2%80%A6</a></li>
          <li>PodBean： <a href="https://www.podbean.com/%E2%80%A6/%E7%89%9B%E6%B2%B9%E6%9E%9C%E7%83%E2%80%A6">https://www.podbean.com/%E2%80%A6/%E7%89%9B%E6%B2%B9%E6%9E%9C%E7%83%E2%80%A6</a></li>
          <li>Apple Podcast（来自喜马拉雅的播放源）： <a href="https://podcasts.apple.com/us/podcast/%E7%89%9B%E6%B2%B9%E6%9E%9C%E7%83%A4%E9%9D%A2%E5%8C%85%E4%B8%AD%E5%9B%BD%E7%89%88/id1520154407">https://podcasts.apple.com/us/podcast/%E7%89%9B%E6%B2%B9%E6%9E%9C%E7%83%A4%E9%9D%A2%E5%8C%85%E4%B8%AD%E5%9B%BD%E7%89%88/id1520154407</a></li>
        </ul>
      </div>
      <h2 id="toc_2" class="md-block">直接RSS订阅：</h2>
      <p><a href="https://avocadotoast.typlog.io/episodes/feed.xml">https://avocadotoast.typlog.io/episodes/feed.xml</a></p>
      <h2 id="toc_3" class="md-block">半泛用播客平台：</h2>
      <div class="md-block list"><ul>
          <li>小宇宙： <a href="https://www.xiaoyuzhoufm.com/podcast/5e7c8b2b418a84a046e3ecbc">https://www.xiaoyuzhoufm.com/podcast/5e7c8b2b418a84a046e3ecbc</a></li>
        </ul>
      </div>
      <h2 id="toc_4" class="md-block">其他播客平台：</h2>
      <div class="md-block list"><ul>
          <li>Spotify： <a href="https://open.spotify.com/show/3royq81yR8oRcdC0KxXBhY">https://open.spotify.com/show/3royq81yR8oRcdC0KxXBhY</a></li>
          <li>喜马拉雅： <a href="https://www.ximalaya.com/keji/29161862/">https://www.ximalaya.com/keji/29161862/</a></li>
          <li>QQ音乐： <a href="https://y.qq.com/n/yqq/singer/001G2mFW47nPJr.html">https://y.qq.com/n/yqq/singer/001G2mFW47nPJr.html</a></li>
        </ul>
      </div>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/@typlog/ui@1.9.5/typlog.js"></script>
    <script src="/js/jquery-3.4.1.slim.min.js" crossorigin="anonymous"></script>
    <script src="/js/popper.min.js" crossorigin="anonymous"></script>
    <script src="/js/bootstrap.min.js" crossorigin="anonymous"></script>
    <script src="/js/site.js" crossorigin="anonymous"></script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-161595329-1"></script>
    {% include facebook_pixel %}
  </body>
</html>
