<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta
      name="viewport"
      content="width=device-width,initial-scale=1,shrink-to-fit=no,user-scalable=no"
    />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="牛油果烤面包（Avocado Toast）" />
    <meta
      property="og:description"
      content="这是一档来自湾区面向中文听众的科技节目。我们是主持人斯图亚特、Sean Wang 和 Cat Chen。我们都来自于科技行业，想要通过这一档节目跟大家聊聊现在的科技趋势。"
    />
    <meta property="og:url" content="https://avocadotoast.live/" />
    <meta
      property="og:image"
      content="{{ data.image.url }}"
    />
    <meta property="fb:pages" content="319695031499949" />
    <title>牛油果烤面包（Avocado Toast）</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css" crossorigin="anonymous" />
    <link rel="icon" href="/favicon.ico" />
    <link rel="canonical" href="https://avocadotoast.live/" />
  </head>
  <body>
    {{ feed.title }}
    <script src="/js/jquery-3.3.1.slim.min.js" crossorigin="anonymous"></script>
    <script src="/js/bootstrap.min.js" crossorigin="anonymous"></script>
  </body>
</html>
