<nav class="navbar navbar-light bg-light navbar-expand-md">
  <div class="container">
    <a class="navbar-brand" href="/">{{ data.title }}</a>
    <div class="m-md-n2 collapse navbar-collapse" id="navbarSupportedContent">
      {% include platform_list %}
    </div>
  </div>
</nav>
